<div class="container">
      <div class="row">
          <div class="col-12 text-center">
            <div class="card redondear">
                <div class="card-body bg-dark text-white redondear">
                  <h5 class="card-title"> <i class="fa-brands fa-github-alt"></i> Github</h5>
                  <p class="card-text">Para ver todos mis proyectos entra a Github.</p>
                  <a href="https://github.com/nicolas-labasse" class="btn btn-outline-light">Github</a>
                </div>
              </div>
          </div>
      </div>
  </div>
